﻿/* Стили для хедера и футера */
.header-container, .footer-container {
    text-align: center; /* Выравнивание по центру */
    padding: 20px; /* Внутренний отступ */
    color: #474A51; /* Серый цвет текста */
    font-family: 'Anonymous Pro', monospace; /* Шрифт 'Anonymous Pro', monospace */
    font-size: 25px; /* Увеличенный размер текста */
}

.header-container {
    background: linear-gradient(to right, #757F9A, #D7DDE8); /* Градиентный фон для хедера */
    position: fixed; /* Фиксированная позиция */
    width: 100%; /* Ширина на всю страницу */
    top: 0; /* Позиция сверху */
    z-index: 999; /* Зависит над остальным контентом */
}

.footer-container {
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* Градиентный фон для футера */
    position: fixed; /* Фиксированная позиция */
    width: 100%; /* Ширина на всю страницу */
    bottom: 0; /* Позиция внизу */
    z-index: 999; /* Зависит над остальным контентом */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}